
<a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Alert
    </button>
</a>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
@*
            <form asp-controller="home" asp-action="add" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="price" class="control-label">Price </label>
                        <input id="price" name="price" class="form-control" type="number" required />
                    </div>
                    <br />


                    <div class="form-group">
                        <label for="UserId" class="control-label">UserId</label>
                        <select id="UserId" name="UserId" class="form-control" required>
                            <option value="">-- Select User --</option>
                            @{
                                foreach (var Useritem in ViewBag.UserList)
                                {
                                    <option value=@(Useritem.UserId)>@(Useritem.Name)</option>
                                }
                            }
                        </select>
                    </div>
                    <br />


                    <div class="form-group">
                        <label for="Description" class="control-label">Description</label>
                        <input id="Description" name="Description" class="form-control"  />
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <div class="form-group">
                            <input type="submit" value="ADD" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
*@


            <form id="FormAddAlert">
                <div class="modal-body">
                    <div class="form-group">
                        <price for="price" class="control-label">price</price>
                        <input id="price" name="price" class="form-control" type="number" required />
                    </div>
                    <br />

                    <div class="form-group">
                        <label for="UserId" class="control-label">UserId</label>
                        <select id="UserId" name="UserId" class="form-control" required>
                            <option value="">-- Select User --</option>
                            @{
                                foreach (var Useritem in ViewBag.UserList)
                                {
                                    <option value=@(Useritem.UserId)>@(Useritem.Name)</option>
                                }
                            }
                        </select>
                    </div>
                    <br />


                    <div class="form-group">
                        <label for="Description" class="control-label">Description</label>
                        <input id="Description" name="Description" class="form-control"  />
                    </div>

                    <div id="resultAddAlert" class="alert text-primary" role="alert"></div>

                    <div class="modal-footer">
                        <button id="ButtonCloseAddAlert" type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                        <div class="form-group">
                            <input id="ButtonAddAlert" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>




<script>


    $("#ButtonAddAlert").click(function (e) { // Target the button with the correct ID
        e.preventDefault(); // Prevent default form submission

        var formData = $("#FormAddAlert").serialize(); // Collect form data

        console.log("formData")
        console.log(formData)

        $.ajax({
            url: "/Home/AddAlertajax", 
            type: "POST",
            data: formData,
            dataType: "json",


            success: function (response) {
                $("#resultAddAlert").text(response.message);

                console.log(response.message)

                if (response.message === "successfully") {

                    console.log("in if true ")

                    //$("#ButtonCloseAddAlert").click();

                    $(location).attr('href', $(location).attr('href'));

                }
            },

            error: function (jqXHR, textStatus, errorThrown) {
                // Handle error
                console.error("AJAX error:", textStatus, errorThrown);
            }
        });
    });

</script>