################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.vsidx
*.so
*.dylib
*.dll
/ChangePrice/bin/Debug/net6.0/ChangePrice.dll
/ChangePrice/bin/Debug/net6.0/ChangePrice.pdb

