@model IEnumerable<UserDto>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#UserModal">
        Add User
    </button>
 
<!-- Modal -->
<div class="modal fade" id="UserModal" tabindex="-1" aria-labelledby="UserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UserModalLabel">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


@*            <form asp-controller="User" asp-action="AddUser" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="Name" class="control-label">Name </label>
                        <input id="Name" name="Name" class="form-control" required />
                    </div>
                    <br />

                    <div class="form-group">
                        <label for="EmailAddress" class="control-label">EmailAddress</label>
                        <input id="EmailAddress" name="EmailAddress" class="form-control" type="email" required />
                    </div>
                    <br />

                    <div class="modal-footer">
                        <button id="MyButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <div class="form-group">
                            <input type="submit" value="ADD" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>*@
            

            <form id="FormAddUser">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name" class="control-label">Name</label>
                        <input id="Name" name="Name" class="form-control" required />
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="EmailAddress" class="control-label">Email Address</label>
                        <input id="EmailAddress" name="EmailAddress" class="form-control" type="email" required />
                    </div>

                    <div id="resultAddUser" class="alert text-primary" role="alert"></div>

                    <div class="modal-footer">
                        <button id="MyButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                        <div class="form-group">
                            <input id="ButtonAddUser" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>






<script>


    $("#ButtonAddUser").click(function (e) {
        e.preventDefault(); 

        var formData = $("#FormAddUser").serialize(); 

        console.log("formData")
        console.log(formData)

        $.ajax({
            url: "@(Url.Action("AddUserajax", "User"))",
            type: "POST",
            data: formData,
            dataType: "json",

            success: function (response) {
                $("#resultAddUser").text(response.message);

                console.log(response.message)

                if (response.message === true) {

                    console.log("in if true ")

                    //$("#ButtonCloseAddAlert").click();

                    $(location).attr('href', $(location).attr('href'));

                }
            },


            error: function (jqXHR, textStatus, errorThrown) {
                // Handle error
                console.error("AJAX error:", textStatus, errorThrown);
            }
        });
    });

</script>