@*@*@model ChangePrice.Models.AlertModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<h1>ثبت قیمت </h1>

<div class=" row, card">
    <div class="col-md-8">

        <form action="Add" method="post">
            <br />

            <div class="form-group">
                <label for="price" class="control-label">Price </label>
                <input id="price" name="price" class="form-control" type="number" required />
            </div>
            <br />

            <div class="form-group">
                <label for="EmailAddress" class="control-label">EmailAddress</label>
                <input id="EmailAddress" name="EmailAddress" class="form-control" type="email" required />
            </div>
            <br />

            <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <input id="Description" name="Description" class="form-control" />
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="ADD" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div>*@




@*<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="Add" method="post">
                <div class="modal-body">

                <div class="form-group">
                    <label for="price" class="control-label">Price </label>
                    <input id="price" name="price" class="form-control" type="number" required />
                </div>
                <br />

                <div class="form-group">
                    <label for="EmailAddress" class="control-label">EmailAddress</label>
                    <input id="EmailAddress" name="EmailAddress" class="form-control" type="email" required />
                </div>
                <br />

                <div class="form-group">
                    <label for="Description" class="control-label">Description</label>
                    <input id="Description" name="Description" class="form-control" />
                </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <div class="form-group">
                            <input type="submit" value="ADD" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>*@

*@*@

@*<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Add">
            <div class="modal-body">

                    <br />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="price" class="control-label"></label>
                        <input asp-for="price" class="form-control" type="number" required />
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" type="email" required />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <br />          
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>    
                <input type="submit" value="ADD" class="btn btn-primary" />
            </div>
            </form>
        </div>
    </div>
</div>*@

