@model IEnumerable<UserDto>
@{
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">User Email</th>
            <th scope="col">Edit / delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.EmailAddress</td>
                    <td>
                        <a asp-action="RemoveUser" asp-route-id="@item.UserId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<button id="MyButtonx">Click Me</button>

<input id="nameInputx" />

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#MyButtonx").click(function () {
        var name = $("#nameInputx").val();

        $.ajax({
            url: "/User/MyAction", // URL of the controller action
            type: "POST",          // HTTP method
            data: { name: name },  // Data to send
            dataType: "json",      // Expected response format
            success: function (response) {
                // Handle successful response
                $("#resultDiv").text(response.message);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Handle error
                console.error("AJAX error:", textStatus, errorThrown);
            }
        });
    });

</script>
